body {
  background-color: #DFDCE3;
  word-break:break-all;
}

button {
  background-color: #F78733;
}

.n, .phi, .e, .d {
  color: #FC4A1A;
}

.navbar {
  height: 40px;
  background-color: #4C4CFF;
  color: #DFDCE3;
  font-size: 20px;
}

#p, #q, #c, #mVer1, #mVer2 {
  color: #FC4A1A;
}

h6 {
  margin-left: 30px;
}

h5 {
  margin-left: 10px;
}

.message-input {
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 5px;
}

button {
  margin-right: 600px;
}
