body {
  background-color: beige;
  word-break:break-all;
}

.n, .phi, .e, .d {
  color: red;
}

.navbar {
  height: 40px;
  color: aliceblue;
  font-size: 20px;
}

#p, #q, #c, #m {
  color: red;
}

h6 {
  margin-left: 30px;
}

h5 {
  margin-left: 10px;
}

.message-input {
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 5px;
}

button {
  margin-right: 600px;
}
